.ReactPiano__Key--active {
  background: #aa4cff;
}

.ReactPiano__Key--accidental {
  background: #000;
}

.ReactPiano__Key--natural {
  background: #fff;
  border: 1px solid #000;
  border-radius: 0;
}

.ReactPiano__Key--active.ReactPiano__Key--natural {
  border: 1px solid #aa4cff;
  background: #aa4cff;
}

.ReactPiano__Key--active.ReactPiano__Key--accidental {
  border: 1px solid #aa4cff;
  background: #aa4cff;
}

.ReactPiano__NoteLabelContainer {
  display: none;
}
